[alias]
	st = status
	ci = commit
	co = checkout
[user]
	name = AKAMATSU Yuki
	email = y.akamatsu@ukstudio.jp
[color]
	ui = auto
[core]
	excludesfile = .gitignore_global
	pager = less
	excludesfile = /home/ukstudio/.gitignore_global
[include]
	path = .gitconfig.local
