[alias]
	st = status
	ci = commit
	co = checkout
	g = grep --break --heading --line-number
	b = branch
	m = checkout master
	d = checkout develop
[user]
	name = AKAMATSU Yuki
	email = y.akamatsu@ukstudio.jp
[color]
	ui = true
[core]
	excludesfile = .gitignore_global
	pager = less
	excludesfile = /home/ukstudio/.gitignore_global
[include]
	path = .gitconfig.local
[grep]
	lineNumber = true
	extendRegexp = true
[pager]
	diff = diff-highlight | less
	log = diff-highlight | less
	show = diff-highlight |less
