[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/unite"]
	path = .vim/bundle/unite
	url = git://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/vim-smartchr"]
	path = .vim/bundle/vim-smartchr
	url = git://github.com/kana/vim-smartchr.git
