[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/unite"]
	path = .vim/bundle/unite
	url = git://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/vim-smartchr"]
	path = .vim/bundle/vim-smartchr
	url = git://github.com/kana/vim-smartchr.git
[submodule ".vim/bundle/vimshell"]
	path = .vim/bundle/vimshell
	url = git://github.com/Shougo/vimshell.git
[submodule ".vim/bundle/vimprc"]
	path = .vim/bundle/vimprc
	url = git://github.com/Shougo/vimproc.git
[submodule ".vim/bundle/neco-look"]
	path = .vim/bundle/neco-look
	url = git://github.com/ujihisa/neco-look.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/unite-outline"]
	path = .vim/bundle/unite-outline
	url = git://github.com/h1mesuke/unite-outline.git
[submodule ".vim/bundle/vim-review"]
	path = .vim/bundle/vim-review
	url = git://github.com/ukstudio/vim-review.git
