"*":
  "exception-reporting":
    userId: "a728a2df-e4e2-5824-7979-921db0a48422"
  welcome:
    showOnStartup: false
  metrics:
    userId: "8ce6bdeb8d65c023344413a3a99bdfd8a000ddb9"
  editor:
    showIndentGuide: true
    invisibles: {}
    lineHeight: 1.5
    fontFamily: "mplus-1m-regular"
    fontSize: 15
  core:
    disabledPackages: [
      "symbols-view"
      "gist-it"
      "git-control"
      "git-log"
      "merge-conflicts"
    ]
    themes: [
      "atom-light-ui"
      "solarized-dark-syntax"
    ]
  "atom-lint":
    rubocop:
      path: "/home/ukstudio/.rbenv/.shims/rubocop"
  "tree-view":
    hideVcsIgnoredFiles: true
  whitespace: {}
  "find-and-replace":
    focusEditorAfterSearch: true
    openProjectFindResultsInRightPane: true
  "recent-files":
    updated: false
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
  "project-manager": {}
  "vim-surround": {}
  "block-cursor":
    zzzpreview: "The quick brown fox jumps over the lazy dog"
    cursorType: "▯ - Bordered box"
    primaryColor:
      red: 240
      green: 240
      blue: 240
      alpha: 1
